:root {
    color-scheme: light;

    /* Foreground colors */
    --fg-hue: 0;
    --fg-accent-hue: 211.1;
    --fg-exclaim-hue: 250.4;
    --fg-1: hsl(var(--fg-hue), 0%, 8%);
    --fg-2: hsl(var(--fg-hue), 0%, 15%);
    --fg-3: hsl(var(--fg-hue), 0%, 40%);
    --fg-4: hsl(var(--fg-hue), 0%, 50%);
    --fg-accent: hsl(var(--fg-accent-hue), 94.6%, 34.2%);
    --fg-exclaim: hsl(var(--fg-exclaim-hue), 48.5%, 46.5%);

    /* Background colors */
    --bg-hue: 46.7;
    --alt-bg-hue: 160;
    --bg-1: hsl(var(--bg-hue), 100%, 99%);
    --bg-2: hsl(var(--bg-hue), 100%, 98%);
    --bg-3: hsl(0, 0%, 99.5%);
    --bg-4: hsl(var(--alt-bg-hue), 20%, 93%);
    --bg-accent: var(--fg-accent);
    --bg-selection: hsla(204, 100%, 63%, 0.3);
    --bg-unfocused-selection: hsla(204, 50%, 63%, 0.2);
    --bg-highlight: hsl(60, 100%, 80%);

    /* Button colors */
    --button-bg-0: hsl(var(--fg-accent-hue), 80%, 60%);
    --button-disabled-bg-0: hsl(var(--fg-accent-hue), 30%, 60%);

    /* Border color — use this for all borders, except 'active' borders (e.g. current nav) which use `--fg-accent`  */
    --border: hsl(0, 0%, 92%);

    /* Misc */
    --scrollbar: rgba(0, 0, 0, 0.3);
    --shadow: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.1));
}

:root.dark {
    color-scheme: dark;

    /* Foreground colors */
    --fg-hue: 46.7;
    --fg-1: hsl(var(--fg-hue), 2%, 90%);
    --fg-2: hsl(var(--fg-hue), 3%, 80%);
    --fg-3: hsl(var(--fg-hue), 5%, 65%);
    --fg-4: hsl(var(--fg-hue), 5%, 55%);
    --fg-accent: hsl(var(--fg-accent-hue), 100%, 85%);
    --fg-exclaim: hsl(var(--fg-exclaim-hue), 100%, 85%);

    /* Background colors */
    --bg-hue: 211.1;
    --bg-0: hsl(var(--bg-hue), 8%, 22%);
    --bg-1: hsl(var(--bg-hue), 10%, 20%);
    --bg-2: hsl(var(--bg-hue), 12%, 25%);
    --bg-3: hsl(var(--bg-hue), 5%, 22%);
    --bg-4: hsl(var(--alt-bg-hue), 8%, 25%);
    --bg-accent: hsl(15, 100%, 35%);
    --bg-highlight: hsl(60, 100%, 15%);

    /* Button colors */
    --button-bg-0: hsl(var(--fg-accent-hue), 80%, 40%);
    --button-disabled-bg-0: hsl(var(--fg-accent-hue), 30%, 40%);

    /* Border color */
    --border: hsl(var(--bg-hue), 15%, 40%);

    /* Misc */
    --scrollbar: rgba(255, 255, 255, 0.3);
    --shadow: drop-shadow(1px 2px 16px rgba(0, 0, 0, 0.5));
}
