:root {
    color-scheme: light;

    /* Foreground colours */
    --fg-1: hsl(0, 0%, 8%);
    --fg-2: hsl(0, 0%, 15%);
    --fg-3: hsl(0, 0%, 40%);
    --fg-4: hsl(0, 0%, 50%);
    --fg-accent: hsl(12, 93%, 43%);

    /* Background colours */
    --bg-1: hsl(0, 0%, 100%);
    --bg-2: hsl(0, 0%, 99.3%);
    --bg-3: hsl(0, 0%, 98.2%);
    --bg-4: hsl(0, 0%, 95%);
    --bg-accent: var(--fg-accent);
    --bg-selection: hsla(204, 100%, 63%, 0.3);
    --bg-unfocused-selection: hsla(204, 50%, 63%, 0.2);
    --bg-highlight: hsl(60, 100%, 80%);

    /* Border color — use this for all borders, except 'active' borders (e.g. current nav) which use `--fg-accent`  */
    --border: hsl(0, 0%, 92%);

    /* Misc */
    --scrollbar: rgba(0, 0, 0, 0.3);
    --shadow: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.1));
}

:root.dark {
    color-scheme: dark;

    --bg-hue: 220;

    /* Foreground colours */
    --fg-1: hsl(var(--bg-hue), 2%, 90%);
    --fg-2: hsl(var(--bg-hue), 3%, 80%);
    --fg-3: hsl(var(--bg-hue), 5%, 65%);
    --fg-4: hsl(var(--bg-hue), 5%, 55%);
    --fg-accent: hsl(12, 94%, 62%);

    /* Background colours */
    --bg-0: hsl(var(--bg-hue), 8%, 10%);
    --bg-1: hsl(var(--bg-hue), 10%, 12%);
    --bg-2: hsl(var(--bg-hue), 12%, 14%);
    --bg-3: hsl(var(--bg-hue), 14%, 16%);
    --bg-4: hsl(var(--bg-hue), 15%, 21%);
    --bg-accent: hsl(15, 100%, 35%);
    --bg-highlight: hsl(60, 100%, 15%);

    /* Border colour */
    --border: hsl(var(--bg-hue), 15%, 22%);

    /* Misc */
    --scrollbar: rgba(255, 255, 255, 0.3);
    --shadow: drop-shadow(1px 2px 16px rgba(0, 0, 0, 0.5));
}
