:root {
    --nav-height: 4rem;
    --secondary-nav-height: 5rem;
    --page-padding-top: 4rem;
    --page-padding-bottom: 5rem;
    --page-padding-side: 1.2rem;
    --thick-border-width: 0.3rem;
    --border-radius: 0.4rem;
    --border-radius-inner: 0.2rem;
    --page-content-width: 76rem;
    --banner-height: 0px;
    --pane-controls-height: 4.2rem;

    @media screen and (min-width: 480px) {
        --page-padding-side: 2.4rem;
    }

    @media screen and (min-width: 838px) {
        --page-padding-top: 5rem;
        --page-padding-side: 5rem;
        --secondary-nav-height: 6rem;
    }
}
