:root {
    --font-family-ui: 'Fira Sans', -apple-system, sans-serif;
    --font-family-body: 'KaTeX Main', serif;
    --font-family-heading: Merriweather, serif;
    --font-family-mono: 'Fira Mono', monospace;

    --font-size-h1: 2rem;
    --font-size-h2: 1.8rem;
    --font-size-h3: 1.5rem;
    --font-size-body: 1rem;
    --font-size-body-small: 0.9rem;
    --font-size-ui-small: 0.6rem;
    --font-size-ui-medium: 0.8rem;
    --font-size-ui-large: 2rem;
    --font-size-mono: 0.8rem;

    --line-height-body: calc(1.8 * var(--font-size-body));
    --line-height-body-small: calc(1.5 * var(--font-size-body-small));

    --font-h1: 500 var(--font-size-h1) / 1.2 var(--font-family-heading);
    --font-h2: 500 var(--font-size-h2) / 1.2 var(--font-family-heading);
    --font-h3: 500 var(--font-size-h3) / 1.2 var(--font-family-heading);
    --font-body: 400 var(--font-size-body) / var(--line-height-body) var(--font-family-body);
    --font-body-small: 400 var(--font-size-body-small) / var(--line-height-body-small) var(--font-family-body);
    --font-ui-small: 400 var(--font-size-ui-small) / 1.5 var(--font-family-ui);
    --font-ui-medium: 400 var(--font-size-ui-medium) / 1.5 var(--font-family-ui);
    --font-ui-large: 400 var(--font-size-ui-large) / 1.5 var(--font-family-ui);
    --font-mono: 400 var(--font-size-mono) / 1.7 var(--font-family-mono);

    /* set at 1.75x so if you zoom +/-10% from common settings it won't switch your font */
    @media (min-resolution: 1.75x) {
        --font-family-body: 'KaTeX Main', serif;
        --font-size-body: 1.2rem;
        --font-size-body-small: 0.8rem;
    }

    &.dark {
        -webkit-font-smoothing: antialiased;
    }

    @media screen and (min-width: 838px) {
        --font-size-h1: 2.6rem;
    }
}
